body {
  margin: auto;
  max-width: 60vw;
  font-size: 1.5rem;
  line-height: 1.5;
}

a{
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-title {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
nav {
  display: inline-block;
}
nav a {
  text-decoration: none;
  font-size: large;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div div {
  margin: auto 0;
}

footer > div i {
  font-size: 24px;
  margin: 0 5px;
}

footer > div a {
  text-decoration: none;
}
