{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

{{ with .TableOfContents }}
<div id="table-of-contents">
  <h3>TOC</h3>
  {{ . | safeHTML }}
</div>
{{ end }}

<main>
{{ .Content }}
</main>

  <h1>
    建议/反馈✉️
  </h1>
  <ol>
    <li>关注<a href="https://github.com/zigcc/.github/raw/main/zig_mp.png">微信公众号</a>，加微信群与更多人一起畅聊 Zig
    </li>
    <li>
      发现内容错误或链接失效？欢迎<a href="{{ .Site.Params.gitRepo }}/blob/main/content/{{ .File.Path }}">提交 PR</a>
    </li>
    <li>想要分享 Zig 使用经验，欢迎给我们<a href="/post/2023/09/05/hello-world/">供稿</a>
    </li>
  </ol>
{{ partial "footer.html" . }}
