.zig{
  color: #BD976A;
  .keyword, .keyword_modifier, .type_builtin, .keyword_type, .keyword_return, .keyword_conditional, .keyword_repeat, .keyword_operator, .constant_builtin, .keyword_exception{
    color: #4D9375;
  }
  .variable, .function_builtin{
    color: #BD976A;
  }
  .comment{
    color: #758575DD;
  }
  .operator, .punctuation{
    color: #666666;
  }
  .string, .character{
    color: #C98A7D;
  }
  .number{
    color: #4C9A91;
  }
  .keyword_function, .punctuation_delimiter{
    color: #CB7676;
  }
  .punctuation_bracket{
    color: #93aa9e;
  }
}

@media (prefers-color-scheme: light) {
  code{
    filter: brightness(0.9) contrast(1.3);
  }
}