:root {
  --fg: #BD976A;
  --keyword: #4D9375;
  --variable: #BD976A;
  --comment: #758575DD;
  --operator: #666666;
  --string: #C98A7D;
  --number: #4C9A91;
  --function: #CB7676;
  --bracket: #93aa9e;
}

.zig{
  color: var(--fg);
  .keyword, .keyword_modifier, .type_builtin, .keyword_type, .keyword_return, .keyword_conditional, .keyword_repeat, .keyword_operator, .constant_builtin, .keyword_exception{
    color: var(--keyword);
  }
  .variable, .function_builtin{
    color: var(--variable);
  }
  .comment{
    color: var(--comment);
  }
  .operator, .punctuation{
    color: var(--operator);
  }
  .string, .character{
    color: var(--string);
  }
  .number{
    color: var(--number);
  }
  .keyword_function, .punctuation_delimiter{
    color: var(--function);
  }
  .punctuation_bracket{
    color: var(--bracket);
  }
}

@media (prefers-color-scheme: light) {
  code{
    filter: brightness(0.9) contrast(1.3);
  }
}